/* default resolve */
html, body, .ng-scope {
    height: 100%;
    /*width: 3600px;*/
}

.supermarket_container .isle {
    display: inline;
    float: right;
    position: relative;
}

/*Bottom Panel */
.shopping_panel {
    position:fixed;
    bottom: 0px;
    width:100%;
    height: 15%;
}

.purchase_button {
    position: absolute;
    top: 54%;
    left: 9%;
}
.purchase_button a.button {
    padding: 7px 15px;
    font-size: 1.5vw;
}

/* Main super markt div */
.supermarket_container {
    position: relative;
    overflow: auto;
    direction: rtl;
}

.supermarket_container div {
    display: inline;
    float: right;
    position: relative;
    height: inherit;
    width: auto;
}

.supermarket_container object {
    height: inherit;
}

/*
#veg_wrapper {
    height :100%;
}*/

/* Fonts Decleration */
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@font-face {
    font-family: 'AlenbiSans';
    src: url('../fonts/AlenbiSansOT/AlenbiSans_Light.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'AlenbiSans';
    src: url('../fonts/AlenbiSansOT/AlenbiSans_Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'AlenbiSans';
    src: url('../fonts/AlenbiSansOT/AlenbiSans_Medium.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'AlenbiSans';
    src: url('../fonts/AlenbiSansOT/AlenbiSans_Bold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'AlenbiSans';
    src: url('../fonts/AlenbiSansOT/AlenbiSans_Black.otf');
    font-weight: 900;
}

@font-face {
    font-family: "mekomi";
    src: url('../fonts/Mekomi%20AAA/mekomi-aaa-light.otf');
    font-weight: 100;
}

@font-face {
    font-family: "mekomi";
    src: url('../fonts/Mekomi%20AAA/mekomi-aaa-regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: "mekomi";
    src: url('../fonts/Mekomi%20AAA/mekomi-aaa-medium.otf');
    font-weight: 600;
}

@font-face {
    font-family: "mekomi";
    src: url('../fonts/Mekomi%20AAA/mekomi-aaa-bold.otf');
    font-weight: 800;
}

@font-face {
    font-family: "mekomi";
    src: url('../fonts/Mekomi%20AAA/mekomi-aaa-black.otf');
    font-weight: 900;
}

@font-face {
    font-family: "alenbiSerif";
    src: url('../fonts/AlenbiSerifOT/AlenbiSerifRegular.otf');
    font-weight: 400;
}

@font-face {
    font-family: "alenbiSerif";
    src: url('../fonts/AlenbiSerifOT/AlenbiSerifBold.otf');
    font-weight: 800;
}

@font-face {
    font-family: "alenbiSerif";
    src: url('../fonts/AlenbiSerifOT/AlenbiSerifBlack.otf');
    font-weight: 900;
}

body {
    font-family: mekomi, AlenbiSans, 'Open Sans Hebrew', sans-serif;
    margin: 0;
}

a {
    color: #fff5d9;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: alenbiSerif, serif;
    font-weight: 400;
}

p {
    line-height: 1.5;
}

a:hover {
    color: #febf44;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

button, .button, a.button {
    border: none;
    background-color: #febf44;
    color: #001d2d;
    font-size: 13px;
    padding: 7px 40px;
    cursor: pointer;
    border-radius: 5px;
    font-family: AlenbiSans, serif;
    text-align: center;
}

/*
* partial home
*/

.home {
    background-color: #001d2d;
    color: #fff5d9;
    direction: rtl;
    height: auto;
    width: 100%;
    position: relative;
}

.home .home-header {
    position: relative;
}

.home .home-header img.logo {
    width: 9.11136108%;
    margin-right: 5.024371954%;
    margin-top: 4.9499%;
}

.home aside.home-sidebar {
    width: 19.87251594%;
    float: right;
    position: relative;
}

.home aside.home-sidebar .sidebar-link {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 14%;
    font-size: 1.34615384615vw;
}

.home aside.home-sidebar .sidebar-link img {
    width: 15.3%;
    display: block;
    margin: 2% auto;
}

.home aside.home-sidebar .sidebar-link span {
    padding-top: 1%;
}

.home main .wrap {
    max-width: 60.6925596631%;
    position: relative;
    margin: 0;
}

.home main h1 {
    font-size: 5.57692307692vw;
    border-bottom: 4px solid #FEBF44;
    margin-bottom: 0;
    margin-top: 2%;
}

.home main h2 {
    font-size: 2.23076923077vw;
    border-bottom: 4px solid #FEBF44;
    padding-bottom: 3%;
    margin-bottom: 0;
}

.home main p {
    line-height: 2;
    font-size: 1.57692307692vw;
    font-weight: 800;
}

.home .home-sidebar nav {
    padding-top: 41.51%;
}

.home main {
    float: right;
    width: 80.12748406%;
    margin-bottom: 9%;
}

.button.go {
    font-size: 2vw;
    margin-top: 2%;
    display: inline-block;
    padding: 1% 5%;
}

.home footer {
    clear: both;
    background-color: #FEBF44;
    color: #001D2D;
    font-size: 1vw;
    font-weight: 100;
    font-family: alenbiSans, serif;
    padding: 1px 0;
}

.home footer .wrap {
    margin-left: 19.87251594%;
    max-width: 60.9298837645%;
    margin-top: 2.625%;
    margin-bottom: 2.4%;
}

.home footer p {
    margin: 0;
}

.home footer .footer_icons {
    position: absolute;
    width: 3.44615384615%;
    top: 0;
    right: -6.27715384615%;
}

/*
* partial-info.html
*/

.home.form {
    margin-right: 20%;
}

.home.form form > div {
    margin-bottom: 4%;
}

.home.form main {
    width: 100%;
    margin-right: 20%;
}

.home.form main h1 {
    font-size: 2vw;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

.home.form form {
    font-family: 'AlenbiSans', Arial, Helvetica, sans-serif;
}

input.city {
    background-color: transparent;
    border: 2px solid #FFF5D9;
    color: #FFF5D9;
    WIDTH: 39%;
    height: auto;
    border-radius: 7px;
    font-size: 1.5vw;
    padding: 1% 4%;
    line-height: 1;
}

.radio-container {
    width: 8%;
    text-align: center;
    display: inline-block;
    height: 0;
    padding-top: 8%;
    position: relative;
    margin-left: 5%;
}

.radio-container .radio {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid;
    border-radius: 50%;
}

.radio img {
    width: 60%;
    height: 60%;
    padding: 20%;
}

.radio-container label {
    margin-top: 15%;
    display: block;
}

.form .buttons span,
.success-rates .buttons span {
    display: block;
}

.home.form form div.radio-row {
    margin-bottom: 7%;
}

.home .childeren {
    width: 6%;
    position: relative;
}

.home .childeren .buttons {
    position: absolute;
    left: -60%;
    top: 30%;
    font-size: 2vw;
}

.home .childeren .buttons span {
    cursor: pointer;
}

.home .childeren .buttons span:hover {
    color: #febf44;
}

.home .childeren span.amount {
    position: absolute;
    top: 4%;
    right: 13%;
    color: #001D2D;
    font-size: 1.5vw;
}

.radio-container label.click {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.hidden {
    display: none;
}

.radio-container input[type='radio'] {
    visibility: hidden;
    position: absolute;
}

.radio-container input[type='radio']:checked + .radio {
    border-color: #febf44;
}

.radio-container input[type='radio']:checked + .radio + label,
.radio-container:hover input[type='radio'] + .radio + label {
    color: #febf44;
}

div[mass-autocomplete] {
    position: relative;
}

::-webkit-input-placeholder {
    font-family: 'AlenbiSans', Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {
    font-family: 'AlenbiSans', Arial, Helvetica, sans-serif;
}

::-moz-placeholder {
    font-family: 'AlenbiSans', Arial, Helvetica, sans-serif;
}

::-moz-placeholder {
    font-family: 'AlenbiSans', Arial, Helvetica, sans-serif;
}

.ac-container {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 999;
    top: 0 !important;
    right: 0;
    color: #000;
    margin-top: 5%;
}

.ac-container .ac-menu {
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    background-color: white;
    box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
    margin: 0;
}

.ac-container .ac-menu .ac-menu-item {
    border-bottom: 1px dotted #ccc;
    line-height: 35px;
    margin: 0;
}

.ac-container .ac-menu .ac-menu-item:last-child {
    border-bottom: 0;
}

.ac-container .ac-menu .ac-menu-item:hover {
    background-color: #e0eaff;
}

.ac-container .ac-menu a {
    padding-left: 5px;
    display: block;
    color: inherit;
    text-decoration: none;
}

.ac-container .ac-menu .ac-state-focus {
    outline: none;
    background-color: #e0eaff;
}

input.error {
    border-color: red;
}

/**
 statistics
*/

#statistics-page {
    height: auto;
}

#statistics-page main {
    margin-right: 20%;
    float: none;
}

#statistics-page main .wrap {
    max-width: 80%;
    position: relative;
    margin: 0;
}

#statistics-page main h1 {
    border-bottom: none;
}

#statistics-page main h1 span {
    color: #febf44;
}

.stats-section {
    position: relative;
    padding: 4% 0;
    border-bottom: 4px solid #FEBF44;
}

#statistics-page .stats-section h2 {
    border-bottom: none;
}

.stats-section .product-container {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
    position: relative;
}

.stats-section .product-container img {
    width: 100%;
}

.stats-section .product-container label {
    color: #001D2D;
    background-color: #FEBF44;
    padding: 0.2vw 1vw;
    width: 100%;
    font-size: 1.3vw;
    border-radius: 3px;
}

.stats-section .products {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.stats-section .left {
    width: 19%;
    float: left;
    height: 7vw;
}

.stats-section .stats-sign {
    position: absolute;
    background: url(../images/sign.png) no-repeat;
    width: 20%;
    height: 7vw;
    background-size: contain;
    top: 0;
    left: 0;
    text-align: center;
}

#statistics-page .stats-section .gift {
    background-image: url('../images/gift.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-top: 37%;
    height: 100%;
    color: #001D2D;
    width: 90%;
    margin: 0 auto;
    line-height: 1;
}

#statistics-page .stats-section .gift > div {
    height: 100%;
    padding: 0 10%;
}

body #statistics-page.home .gift div h1 {
    font-size: 1.5vw;
    border-bottom: 2px solid #EC2027;
}

.home main .gift div p {
    font-size: 0.9vw;
    line-height: 1;
    margin: 9% 0;
}

.stats-sign span {
    color: #001D2D;
    margin-top: 2.3vw;
    display: block;
    font-size: 1.4vw;
    font-family: alenbiSans;
}

.stats-section .phone {
    background: url(../images/phone.png) no-repeat;
    background-size: contain;
    height: 12vw;
    background-position-x: 50%;
    position: relative;
}

.phone div {
    width: 50%;
    height: 27%;
    position: absolute;
    top: 30%;
    right: 14%;
    text-align: center;
    display: table;
}

.stats-section .phone span {
    color: #001D2D;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5vw;
    font-family: alenbiSans;
}

.home .success-rates h1,
.home .success-rates h2 {
    border: none;
}

.home .success-rates h1 {
    font-size: 2vw;
}

.success-rates .filter-column {
    width: 18%;
    float: right;
}

.success-rates .filter-column.last {
    float: left;
}

#statistics-page.home .success-rates {
    font-family: 'mekomi', serif;
    margin-bottom: 6%;

}

.home .success-rates h3 {
    margin: 0;
}

.home .success-rates h2 {
    color: #FDBF45;
    font-size: 1.3vw;
    margin-bottom: 10%;
}

.home .success-rates .left {
    color: #fff;
    font-size: 1.3vw;
    float: right;
    width: auto;
    margin-right: 10%;
}

.success-rates .row.checked .left h3 {
    color: #febf44;
}

.success-rates .ac-container {
    margin-top: 21%;
}

span.participants {
    color: #FEBF44;
    display: block;
    font-size: 1.5vw;

}

span.participants.amount {
    font-size: 3vw;
    margin-top: 5%;
}

.clear {
    clear: both;
}

.filter-column .row {
    margin-bottom: 2%;
}

.success-rates .filter-column .square {
    width: 20%;
    border: 1px solid #fff;
    height: 2.5vw;
    float: right;
    cursor: pointer;
}

.success-rates .filter-column .face {
    border: none;
}

.success-rates .filter-column .face.male {
    background: url(../images/svg/male.svg) no-repeat;
}

.success-rates .filter-column .face {
    background: url(../images/svg/female.svg) no-repeat;
}

.success-rates .childeren {
    width: 27%;
}

.success-rates input.city {
    width: 80%;
}

.square.success {
    background-color: #8dc641;
}

span.success {
    color: #8dc641;
    background-color: transparent;

}

.square.failed {
    background-color: #cd2027;
}

span.failed {
    color: #cd2027;
    background-color: transparent;
}

.success-rates .buttons {
    margin-top: 2%;
}

.success-rates .buttons > div {
    width: 15%;
    height: 2vw;
    background-size: contain !important;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    cursor: pointer;
}

.success-rates .buttons .bycolor {
    background: url('../images/bycolor.png') no-repeat;
    width: 18%;
}

.success-rates .buttons .bycolor.gold {
    background: url('../images/bycolor-gold.png') no-repeat;
}

.success-rates .buttons .clock {
    background: url('../images/clock.png') no-repeat;
}

.success-rates .buttons .clock.gold {
    background: url('../images/clock-gold.png') no-repeat;
}

.success-rates .buttons .israel {
    background: url('../images/israel.png') no-repeat;
    background-position-x: 100%;
}

.success-rates .buttons .israel.gold {
    background: url('../images/israel-gold.png') no-repeat;
    background-position-x: 100%;
}

.success-rates .avatar {
    width: 2vw;
    height: 4vw;
    background-size: contain;
    display: inline-block;
    background-position-x: 50%;
}

.home.form .button.go {
    margin-top: 0;
}

.success-rates .carts .cart {
    FLOAT: right;
    margin: 2%;
    background-color: transparent;
}

.cart .city-label {
    text-align: center;
    font-size: 1vw;
}

.passed .male.avatar {
    background-image: url('../images/avatars/green_m.png');
    background-repeat: no-repeat;
}

.passed .female.avatar {
    background-image: url('../images/avatars/green_w.png');
    background-repeat: no-repeat;
}

.failed .male.avatar {
    background-image: url('../images/avatars/red_m.png');
    background-repeat: no-repeat;
}

.failed .female.avatar {
    background-image: url('../images/avatars/red_w.png');
    background-repeat: no-repeat;
}

.passed .boy.avatar {
    background-image: url('../images/avatars/green_b.png');
    background-repeat: no-repeat;
}

.passed .girl.avatar {
    background-image: url('../images/avatars/green_g.png');
    background-repeat: no-repeat;
}

.failed .boy.avatar {
    background-image: url('../images/avatars/red_b.png');
    background-repeat: no-repeat;
}

.failed .girl.avatar {
    background-image: url('../images/avatars/red_g.png');
    background-repeat: no-repeat;
}

#statistics-page .stats-section .gift {
    background-image: url('../images/gift.png');
    background-repeat: no-repeat;
}

/**
* partial-supermarket
*/

.placeholder {
    background-image: url(../images/placeholder.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#super {
    overflow-x: scroll;
}

#super .inner {
    width: 8936px;
    position: relative;
}

#super .isle {
    border: 1px solid #000;
    margin: 5px;

    width: 1105px;
    display: inline-block;
    height: 439px;
    vertical-align: top;
}

#super .product {
    width: 100px;
    height: 100px;
    background-color: #e7e7e7;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    text-align: center;
}

#super .product div {
    display: table;
    width: 100%;
    height: 100%;
}

#super .product div span {
    display: table-cell;
    vertical-align: middle;
}

#supermarket-footer {
    position: relative;
}

#cart {
    width: 81px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #000;
    display: inline-block;
    position: relative;

}

#cart span {
    font-size: 11px;
    position: absolute;
    width: 100%;
    left: 0;
    top: -22px;
}

#cart p {
    position: absolute;
    width: 100%;
}

.person-container {
    text-align: center;
    margin-top: -95px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

div#checkout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 100%;
}

#register {
    width: 100%;
    height: auto;
    background-color: #001d2d;
    color: #fff5d9;
    font-family: alenbiSerif, serif;
    direction: rtl;
    position: relative;
}

#register h1 {
    font-size: 70px;
    border-bottom: 7px solid #FFC044;
}

#register .wrap {
    max-width: 755px;
}

#register header {
    background-color: #fff5d9;
    padding-bottom: 1px;
}

#register .sign {
    background-image: url('../images/svg/sign.svg');
    background-repeat: no-repeat;
    color: #001D2D;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 20px;
}

#register .sign span {
    font-size: 44px;
    margin-top: 47px;
    display: block;
}

.register-image {
    position: relative;
}

img.passed-sign {
    height: auto;
    width: 112px;
    position: absolute;
    bottom: 133px;
    left: 236px;
}

#register .buttons {
    float: left;
    margin-left: 160px;
    position: relative;
    z-index: 2;
}

#register .buttons .button {
    display: block;
    margin-bottom: 35px;
    padding: 4px 6px;
    font-size: 20px;
}

#register .table {
    float: right;
    font-size: 20px;
}

#register .bottom-text {
    font-family: alenbiSans, serif;
    font-weight: 100;
    font-size: 17px;
}

#register .table td {
    padding-bottom: 35px;
}

.failed h1 span {
    color: #cd2027;
}

.success h1 span {
    color: #8dc641;
}

#register .table .left-column {
    padding-left: 26px;
}

#register.failed .table .overall {
    color: #cd2027;
}

#register.success .table .overall {
    color: #8dc641;
}

.strike.strike-out {
    background-image: url('../images/svg/strike-out.svg');
}

.strikes {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 30px;
}

.strike {
    background-image: url('../images/svg/strike.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 5px;
}

.fancybox-inner {
    direction: rtl;
}

.super.write-message h2 {
    margin: 0;
}
.super.write-message h1 {
    border-bottom: none;
    font-size: 24px;
    margin: 5px 0;
}
.super.write-message .button {
    float: none;
}
.super.write-message .buttons {
    text-align: center;
    margin: 10px;
}
textarea {
    border: none;
    width: 100%;
    height: 60px;
}
/*
    pop up
*/

.fancybox-skin {
    background-color: #001d2d;
    color: #fff;
    border: 2px solid #febf44;
    border-radius: 20px;
}

.popup-body {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.popup-body > div {
    padding: 3% 0;
}

.popup h1 {
    border-bottom: 2px solid #febf44;
}

.info-popup .buttons {
    text-align: center;
}

.info-popup.super .popup {
    padding: 0;
}

.info-popup .buttons a:first-child {
    margin-left: 10px;
}

.sms .popup h1 {
    font-size: 1.3vw;
    margin: 0;
}

.sms .popup p {
    margin: 0;
}

.sms .popup .popup-body {
    font-size: 1.5vw;
}

.popup td.detailes {
    color: #febf44;
}

.cart .popup {
    position: relative;
}

.popup .cart-item a.button {
    float: none;
    position: absolute;
    font-size: 13px;
    padding: 1px 10px;
    display: none;
}
.popup .cart-item:hover a.button {
    display: block;
}
.popup .items {
    margin: 0 auto;
    overflow-y: auto;
    height: 70%;
}

.popup .cart-item {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    margin-bottom: 30px;
    height: auto;
    cursor: pointer;
}

.popup td {
    vertical-align: top;
}

.fancybox-inner {
    overflow: visible !important;
}

.popup div#show-cart-icon {
    width: 40%;
    text-align: center;
    z-index: 9999999;
    position: absolute;
    bottom: -28%;
    left: 42%;
    margin-left: -12%;
    color: #febf44;
}

.fullHeight {
    height: 100%;
}

div#products-cart {
    height: 80%;
    overflow-y: scroll;
}

.fancybox-close {
    background-image: url('../images/svg/close.svg') !important;
    background-repeat: no-repeat;
    background-size: contain;
    top: 7px;
    right: 7px;
    width: 15px;
    height: 15px;
}

.popup #cart-icon {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.popup .right-column {
    width: 20%;
}

.popup {
    font-family: 'AlenbiSans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1vw;
}

.super .fancybox-skin {
    background-color: #FFF5D9;
    color: #000;
    border: 6px solid #FEBF44;
}

.super.sms .fancybox-skin {
    border: none;
}

.super.sms .popup-body {
    background-color: transparent;
    margin-bottom: 0;
}

.popup h1 span.left{
    float: left;
}

.popup .button {
    float: left;
    padding: 4px 9px;
    border-radius: 3px;

}

.super .fancybox-inner {

    height: auto !important;

}

.super .popup {
    padding: 0 6%;
}

.super .fancybox-close {
    background-image: url('../images/svg/close_black.svg') !important;
    top: 13px;
    width: 12px;
    height: 12px;
    right: 9px;
}

.info-popup .popup .button {
    float: none;
}

.info-popup .popup {
    font-size: 2vw;
}

.popup .markText {
    color: #cd2027;
}

span.bottom-note {
    float: left;
    font-size: 1.5vw;
    margin-top: 20px;
}


.fancybox-wrap.offer .fancybox-skin {
    background-image: url('../images/svg/gift2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0 !important;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    color: #000;
}

.offer .popup h1 {
    border-bottom: 2px solid #ED1C24;
}

.one-half {
    float: right;
    margin-right: 2.564102564102564%;
    width: 48.717948717948715%;
}

.first {
    clear: both;
    margin-right: 0;
}

/**

*/

.age_row {
    margin-right: 20px;
}

.age_row .number_p {
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
}

.age_row input {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.active_num {
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    float: left;
    font-size: 30px;
    font-weight: bold;
}

.plus_num {
    margin-top: 2px;
}

.send_btn {
    background: grey;
    width: 70px;
    height: 30px;
    display: table;
}

.send_btn:hover {
    background: black;
    transition: 0.8s ease;
}

.send_btn p {
    color: white;
    margin: 0 auto;
    display: block;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    cursor: pointer;
}

/*
* Vegetables HTML
*/
.vegetables {
    position: relative;
    width: 1080px;
    height: 675px;
    margin: 0px auto;
    margin-top: 30px;
    border: 1px solid;
    background: #A51B2D;
}

.roof {
    background: url('../images/vegetables/top_roof.png');
    background-repeat: repeat-x;
    height: 145px;
}

.sign {
    background: url('../images/vegetables/sign.png');
    margin: 0px auto;
    background-repeat: no-repeat;
    height: 102px;
    width: 339px;

}

.main_vegetables {
    margin-left: 20px;
    margin-right: 20px;
    border-left: 5px solid #7E1B28;
    border-right: 5px solid #7E1B28;
}

.support {
    background: #7E1B28;
    width: 5px;
    height: inherit;
    position: fixed;
}

.left_support {

    margin-left: 20px;
}

.right_support {
    margin-right: 20px;
}

/* Shelfs Section */
.shelfs_row {
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    height: 130px;
    width: auto;

}

.lower_veg_row {
    margin-top: 0px;
}

.shelf {
    float: left;
}

.left_shelf {
    width: 195px;
    height: inherit;
    background-color: #001F3F;
    margin-right: 5px;
    position: relative;
}

#cauliflower {
    margin: 0px 5px;
}

.veg_sign {
    position: absolute;
    margin: 0px auto;
    top: 50%;
    transform: translateY(-40%);
    left: 0;
    right: 0;
    width: 77px;
    height: 78px;
    background: url('../images/vegetables/red_sign.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.veg_sign p {
    margin: 0px auto;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    padding-top: 7px;
    font-family: AlenbiSans;
    color: #FFFFFF;
    font-size: 18px;
}

.veg_sign img {
    margin: 0px auto;
    display: block;
}

.top_shelf {
    height: 45px;
    background: #001D2D;
}

.center_shelf {
    width: 280px;
    height: inherit;
    background: #001F3F;
    margin-right: 5px;
    position: relative;
}

.right_shelf {
    width: 260px;
    height: inherit;
    background: #001F3F;
    position: relative;
}

.shelfs_bottom {
    height: 18px;
    background-color: #EF3938;
    position: relative;
}

.seperator {
    height: 19px;
    border-bottom: 1px solid #7F1B29;
}

/*
* Directives CSS
*/

/* Bottom Bar */
.bottom_bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
}

.cash_desk {
    width: 104px;
    height: 33px;
    background: #FFC044;
    border-radius: 4px;
    border: 1px solid black;
    position: absolute;
    left: 40px;
    bottom: 28px;
    cursor: pointer;
}

.cash_desk p {
    position: relative;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 700;
}

.shopping_cart {
    background: url('../images/cart.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 67px;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 16px;
    cursor: pointer;
}

.cart_lifes {
    height: 33px;
    position: absolute;
    bottom: 28px;
    right: 80px;
}

.cart_lifes #lifes_group {
    height: 100%;
}

#veg_page {
    height: inherit;
}

@media (max-width: 1024px) and (min-height: 768px) {
    .home {
        height: 100%;
    }

    .home footer {
        position: absolute;
        bottom: 0;
    }

    #statistics-page footer {
        position: inherit;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .home .home-header {
        height: 9%;
    }

    .home .home-header img.logo {
        width: 13%;
    }

    .home aside.home-sidebar {
        width: 25%;
        float: right;
        position: relative;
        height: auto;
    }

    .home .home-sidebar nav {
        padding-top: 45%;
    }

    .home aside.home-sidebar .sidebar-link {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 14%;
        font-size: 3vw;
    }

    .home main {
        float: right;
        width: 75%;
    }

    .home main .wrap {
        max-width: 90%;
        position: relative;
        margin: 0;
    }

    .home main h1 {
        font-size: 10vw;
    }

    #statistics-page main h1 {
        font-size: 7vw;
    }

    .home main h2 {
        font-size: 4vw;
    }

    .home main p {
        font-size: 2.6vw;
    }

    .home footer {
        font-size: 2vw;
        height: 15%;
        position: fixed;
        bottom: 0;
    }

    #statistics-page footer {
        position: inherit;
        padding: 2% 0;
    }

    .home footer .wrap {
        max-width: 72.2%;
        margin: 0 20% 0 0;
        padding-top: 4%;
    }

    .home footer .footer_icons {
        position: absolute;
        width: 6%;
        top: 19%;
        right: -10%;
    }

    /**
    form
    */
    .home.form {
        margin-right: 0;
    }

    .home.form main {
        width: 80%;
    }

    .home.form main h1 {
        font-size: 4vw;
    }

    input.city {
        width: 53%;
        height: 4vw;
        font-size: 3.5vw;
    }

    .ac-container {
        margin-top: 5%;
    }

    .radio-container {
        width: 15%;
        padding-top: 15%;
    }

    .home.form .childeren {
        width: 10%;
    }

    .home.form .childeren .buttons {
        left: -75%;
        top: 19%;
        font-size: 5vw;
    }

    .home.form .childeren span.amount {
        top: 3%;
        right: 13%;
        font-size: 3.5vw;
    }

    .home.form form {
        font-size: 3vw;
    }

    .button.go {
        font-size: 4vw;
    }

    .home.form form div.radio-row {
        margin: 13% 0;
    }

    #statistics-page main {
        margin: 0 auto;
        width: 100%;
    }

    #statistics-page main .wrap {
        max-width: 80%;
        position: relative;
        margin: 0 auto;
    }

    .stats-sign span {
        margin-top: 3.3vw;
    }

    #statistics-page .success-rates h1 {
        font-size: 4vw;
    }
}

@media (max-width: 414px) and (orientation: portrait) {
    .home {
        height: auto;
    }

    .home .home-header {
        height: auto;
        padding-top: 1px;
    }

    .home aside.home-sidebar .sidebar-link img {
        width: 100%;
    }

    .home .home-header img.logo {
        width: 20%;
        position: inherit;
        display: block;
        margin: 5% auto 0;
        right: 0;
    }

    .home main {
        float: none;
        width: 100%;
    }

    .home main .wrap {
        max-width: 90%;
        position: relative;
        margin: 0 auto;
    }

    .home main h1 {
        font-size: 17vw;
    }

    .home main h2 {
        font-size: 5vw;
    }

    .home main p {
        font-size: 4vw;
    }

    .button.go {
        font-size: 5vw;
        margin-top: 2%;
        display: inline-block;
        padding: 2% 5%;
    }

    .home aside.home-sidebar {
        width: 80%;
        float: none;
        position: relative;
        height: auto;
        margin: 5% auto;
        text-align: center;
    }

    .home .home-sidebar nav {
        padding-top: 0;
    }

    .home aside.home-sidebar .sidebar-link {
        width: 10%;
        display: inline-block;
        margin: 0 5%;
        text-align: center;
        padding-bottom: 0;
        font-size: 3vw;
    }

    .home footer {
        font-size: 3vw;
        height: auto;
        position: relative;
        bottom: 0;
        margin-bottom: 0;
        padding-bottom: 1%;
        margin-top: 5%;
    }

    .home footer .wrap {
        max-width: 72.2%;
        margin: 0 20% 0 0;
        padding-top: 4%;
    }

    .home footer .footer_icons {
        position: absolute;
        width: 11%;
        top: 19%;
        right: -19%;
    }

    /**
    form
    */
    .home.form {
        height: 100%;
    }

    .home.form .home-header {
        height: auto;
        margin-bottom: 4%;
    }

    .home.form main {
        width: 100%;
        margin: 0;
    }

    .home.form form {
        font-size: 4vw;
    }

    .home.form main h1 {
        font-size: 5vw;
    }

    .radio-container {
        width: 19%;
        padding-top: 19%;
        margin-left: 10%;
    }

    .home.form form > div {
        margin: 6% 0;
    }

    input.city {
        width: 44%;
        height: 5vw;
    }

    .ac-container {
        margin-top: 8%;
    }

}