/*
* partial-info.html
*/
.reg_form {
    margin:0px auto;
    width:50%;
    height:450px;
    border:1px solid;
    position:relative;
}
.reg_form label, select {
    text-align: center;
    margin-right: 60px;
    display: block;
}
.input_row {
    float:right;
    display: block;
    clear: both;
    position:relative;
    margin-bottom: 20px;
}
.gender_check {
    float:right;
    display: inline-block;
}
.maritals {
    margin:0px auto;
}
.marital {
    float:right;
    display: inline-block;
    margin-right: 40px;
}
.marital label {
    margin:0px !important;
    display:block;
    position:relative;
}
.marital-type {
    width:70px;
    height:100px;
    display:block;
    border:1px solid;
}
.city {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.age_row {
    margin-right: 60px;
}
.age_row input {
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}
.active_num {
    margin-top: 0px;
    cursor: pointer;
    float:left;
    display:inline-block;
}
