<main id="super">
    <div class="isle" ng-repeat="isle in categories">
        <div class="product" ng-repeat="product in isle.items">

        </div>
    </div>
</main>
{{super}}
<footer>
    <div id="person">
    </div>
    <div id="cart">
    </div>
    <div id="strikes">
        <div class="strike"></div>
        <div class="strike"></div>
        <div class="strike"></div>
    </div>
    <div id="isles-pages">
        <div class="isle-page" ng-repeat="isle in categories">
            
        </div>
    </div>
    <a href="">גש לקופה</a>
</footer>
