<div class="home">
    <h1>אתגר ה115</h1>
    <p>אחרי קיצוצים שחלו בשנתיים האחרונות בתוכנית בולי 

    המזון הפדרליים, ושהובילו לקיצוץ הסכום או לצמצום 

    מספר הזכאים )תלוי במדינה(, העמותה הגתה את 

    האתגר והסבירה: 1.7 מיליון אנשים בניו יורק מתקיימים 

    בזכות תלושי מזון, כלומר אוכלים רק מה שנכנס 

    ב־29 דולר בשבוע; בארץ זה שווה ערך ל115 שקלים - 

    שימו את עצמכם בנעליים שלהם, ונסו לעשות זאת.</p>

    <nav>
        <button data-ui-sref="info" class="go">צאו לדרך</button>
        <button>צפו בנתונים</button>
        <button>שתפו</button>
    </nav>
</div>