<div class="home blue-bg">
    <div class="wrap">
        <header class="home-header">
            <img src="../images/svg/logo.svg" class="logo">
        </header>
        <aside class="home-sidebar">
            <nav>
                <a data-ui-sref="statistics" class="sidebar-link">
                    <img src="../images/svg/stats_icon.svg"/>
                    <span>נתונים</span>
                </a>
                <a href="#" class="sidebar-link">
                    <img src="../images/svg/share_icon.svg"/>
                    <span>שתף</span>
                </a>
                <a href="#" class="sidebar-link">
                    <img src="../images/svg/story_icon.svg"/>
                    <span>לכתבה</span>
                </a>
            </nav>
        </aside>
        <main>
            <div class="wrap">
                <h1>אתגר ה-115</h1>
                <h2> יוקר המחיה קשה לכם? נראה אתכם יוצאים לקנייה השבועית בסופרמרקט כשיש לכם רק 115 שקל לאדם</h2>
                <p>
                    איך הייתם מסתדרים אם היה לכם תקציב מזון זעום של 115 שקל בשבוע בלבד לכל בן משפחה?
                    אם זה נשמע לכם בלתי אפשרי, דעו שזוהי המציאות היומיומית והמורכבת של 467 אלף משפחות בישראל.
                    <a href="#">כתבת ״כלכליסט״ מעיין מנלה </a>חוותה על בשרה את אתגר ה-115 וניסתה לחיות כך במשך שבוע.
                    עכשיו תורכם. האם תצליחו להרכיב רשימת קניות שבועית מזינה ומספיקה לכל בני המשפחה שלכם?

                </p>
                <a data-ui-sref="info" class="button go">צאו לדרך</a>
            </div>
        </main>
        <div class="clear"></div>
    </div>
    <footer>
        <div class="wrap">
            <p>
                ״אתגר ה-115״ נוצר במעבדת הדאטה ג’ורנליזם של כלכליסט ושנקר. כל הנתונים לקוחים מכלכליסט, משרד הבריאות
                - המחלקה לתזונה, המחירים באתגר מעודכנים לפי מחירון ״רמי לוי״ לחודש 12/2015. החישוב של 115 שקל לנפש
                למזון לשבוע מבוסס על נתוני הלשכה המרכזית לסטטיסטיקה. עיצוב: ניר ברטוב, שרית כהן ונעמי תירוש, תכנות:
                ליבנה לנג ודודי לוגסי, תוכן: שאול אמסטרדמסקי, עריכה: אלון רייס, הנחייה אקדמית: מושון זר אביב, יונית
                רושו
            </p>
            <div class="footer_icons">
                <img src="../images/svg/shenkar_icon.svg">
                <img src="../images/svg/calcalist_icon.svg">
            </div>
        </div>

    </footer>
</div>