<div class="home">
    <header>
        <div class="logo"></div>
    </header>
    <main>
        <div class="wrap">
            <h1>אתגר ה-115</h1>
            <h2> יוקר המחיה קשה לכם? נראה אתכם יוצאים לקנייה השבועית בסופרמרקט כשיש לכם רק 115 שקל לאדם</h2>
            <p>
                איך הייתם מסתדרים אם היה לכם תקציב מזון זעום של 115 שקל בשבוע בלבד לכל בן משפחה?
                אם זה נשמע לכם בלתי אפשרי, דעו שזוהי המציאות היומיומית והמורכבת של 467 אלף משפחות בישראל.
                <a href="#">כתבת ״כלכליסט״ מעיין מנלה </a>חוותה על בשרה את אתגר ה-115 וניסתה לחיות כך במשך שבוע.
                עכשיו תורכם. האם תצליחו להרכיב רשימת קניות שבועית מזינה ומספיקה לכל בני המשפחה שלכם?

            </p>
        </div>
    </main>

    <nav>
        <a data-ui-sref="info" class="button go">צאו לדרך</a>
        <a data-ui-sref="statistics" class="button">צפו בנתונים</a>
        <a class="button">שתפו</a>
    </nav>
</div>