<!-- vegetables main wrapper -->
<div class="vegetables">
    <!-- top-roof -->
    <div class="roof">
        <div class="sign"></div>
    </div>

    <!-- main container -->
    <div class="main_vegetables">


        <!-- First Row Shelf -->
        <div class="shelfs_row">
            <!-- Left shelf -->
            <div class="left_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <!--<img src="../images/vegetables/red_sign.png"/> -->
                </div>
                <div class="top_shelf"></div>
                <object id="cauliflower" width="inherit" height="auto" display="block" data="./images/vegetables/svg/Untitled-4.svg"></object>
            </div>
            <!-- Center shelf -->
            <div class="center_shelf shelf">
                <div class="top_shelf"></div>
            </div>
            <!-- Center shelf -->
            <div class="center_shelf shelf">
                <div class="top_shelf"></div>
            </div>
            <!-- Right shelf -->
            <div class="right_shelf shelf">
                <div class="top_shelf"></div>
            </div>
        </div>
        <div class="shelfs_bottom"></div>
    </div>

</div>