<!-- vegetables main wrapper -->
<div class="vegetables">
    <!-- top-roof -->
    <div class="roof">
        <div class="sign"></div>
    </div>

    <!-- main container -->
    <div class="main_vegetables">


        <!-- First Row Shelf -->
        <div class="shelfs_row upper_veg_row">
            <!-- Left shelf -->
            <div class="left_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <p class="">כרובית</p>
                </div>
                <div class="top_shelf"></div>
                <object id="cauliflower" width="inherit" height="auto" display="block" data="./images/vegetables/svg/cauliflower.svg"></object>
            </div>
            <!-- Center shelf -->
            <div class="center_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <p class="">פלפל ירוק</p>
                </div>
                <div class="top_shelf"></div>
                <object id="green_peppers" width="inherit" height="auto" display="block" data="./images/vegetables/svg/g_peppers.svg"></object>
            </div>
            <!-- Center shelf -->
            <div class="center_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <p class="">פלפל אדום</p>
                </div>
                <div class="top_shelf"></div>
                <object id="red_peppers" width="inherit" height="auto" display="block" data="./images/vegetables/svg/r_peppers.svg"></object>
            </div>
            <!-- Right shelf -->
            <div class="right_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <p class="">פלפל צהוב</p>
                </div>
                <div class="top_shelf"></div>
                <object id="yellow_peppers" width="inherit" height="auto" display="block" data="./images/vegetables/svg/y_peppers.svg"></object>
            </div>
        </div>
        <!-- shelfs row bottom -->
        <div class="shelfs_bottom"></div>
        <!-- Seperators -->
        <div class="seperator"></div><div class="seperator"></div><div class="seperator"></div><div class="seperator"></div>


        <!-- Second Row Shelf -->
        <div class="shelfs_row lower_veg_row">
            <!-- Left shelf -->
            <div class="left_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <p class="">קישוא</p>
                </div>
                <div class="top_shelf"></div>
                <object id="courgette" width="inherit" height="auto" display="block" data="./images/vegetables/svg/courgette.svg"></object>
            </div>
            <!-- Center shelf -->
            <div class="center_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <p class="">עגבניות</p>
                </div>
                <div class="top_shelf"></div>
                <object id="tomatoes" width="inherit" height="auto" display="block" data="./images/vegetables/svg/tomatoes.svg"></object>
            </div>
            <!-- Center shelf -->
            <div class="center_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <p class="">מלפפון</p>
                </div>
                <div class="top_shelf"></div>
                <object id="cucumbers" width="inherit" height="auto" display="block" data="./images/vegetables/svg/cucumbers.svg"></object>
            </div>
            <!-- Right shelf -->
            <div class="right_shelf shelf">
                <!-- veg name sign -->
                <div class="veg_sign">
                    <p class="">גזר</p>
                </div>
                <div class="top_shelf"></div>
                <object id="carrots" width="inherit" height="auto" display="block" data="./images/vegetables/svg/carrots.svg"></object>
            </div>
        </div>
        <!-- shelfs row bottom -->
        <div class="shelfs_bottom"></div>
        <!-- Seperators -->
        <div class="seperator"></div><div class="seperator"></div><div class="seperator"></div><div class="seperator"></div><div class="seperator"></div>

        <!-- Footer Directive  -->
        <div class="bottom_bar">
            <div class="cash_desk">
                <p>גש לקופה</p>
            </div>
            <div class="shopping_cart">
            </div>
            <div class="cart_lifes">
                <object id="lifes_group" type="image/svg+xml" data="./images/svg/cart_lifes.svg"></object>
            </div>

        </div>

    </div>

</div>