<div class="popup">
    <div>
        <p>
            <span>עבור משפחה של </span>
            <span class="markText">{{souls}}</span>
            <span>, בחישוב של 115 שקלים נפש קיבלת תקציב שבועי של </span>
            <span class="markText">{{budget}} שקלים</span>
            <span class="bottom-note">בהצלחה</span>
            <div class="clear"></div>
        </p>
        <div class="buttons">
            <a ng-click="gotoSuper()" class="button">התחל</a>
            <a href="javascript:parent.$.fancybox.close();" class="button">שנה נתונים</a>
        </div>
    </div>
</div>