<div class="popup">
    <h2>על איזו מהבקשות</h2>
    <div class="clear"></div>

    <div class="librabox">
        <!-- libra items -->
        <div class="libra_1 libra_item">
            <img src="../images/libra/{{answeredSMS[0].image}}.svg">
        </div>
        <div class="libra_2 libra_item">
            <img src="../images/libra/{{answeredSMS[1].image}}.svg">
        </div>
    </div>


            <!-- choose sides panel -->
            <div class="choose">


            </div>

            <div class="clear"></div>
            <div class="clear"></div>


</div>